section {
    .line {
        border-bottom: 7px solid rgba(0, 123, 255, 1);
        width: 95px;
        border-radius: 10px;
    }

    nav {
        display: grid !important;
        grid-template-columns: 1fr;

        .nav {
            display: grid;
            grid-template-columns: 1fr 1fr;

            img {
                width: 10%;
            }

            .counter {
                width: 30px;
                height: 40px;
                border-radius: 50%;
                margin-left: 88%;
                margin-top: -30px;
            }
        }

        .inputs {
            display: grid;
            grid-template-columns: 4fr 1fr;

            .all-price {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .all {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 40px;

        button {
            border-radius: 0px 0px 0px 10px;
        }
    }

    .button {
        display: grid;
        grid-template-columns: 2.5fr 0.6fr;
        gap: 10px;

        a {
            border-radius: 0 0 0 10px;
        }

        p {
            height: 100%;
            border: 2px solid rgba(0, 123, 255, 1);
            text-align: center;
            border-radius: 0 0 10px 0;

            .heart {
                margin-top: 12px;
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    section {

        .all {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        nav {
            .nav {

                img {
                    width: 12%;
                }

                .counter {
                    width: 23px;
                    height: 33px;
                    margin-left: 86%;
                    padding-top: 4px !important;
                }
            }
        }

    }
}

@media screen and (max-width: 768px) {
    section {

        .line {
            width: 80px;
        }

        nav {
            .nav {

                img {
                    width: 15%;
                }

                .counter {
                    margin-left: 82% !important;
                }
            }
        }

        .all {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 450px) {
    section {

        .line {
            width: 70px;
        }

        nav {
            .nav {

                img {
                    width: 27%;
                }

                .counter {
                    width: 25px;
                    height: 35px;
                    margin-left: 71% !important;
                    margin-top: -25px;
                }
            }
        }

        .all {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 320px) {
    section {

        nav {

            h1 {
                font-size: 25px;
            }

            .nav {

                img {
                    width: 29%;
                }

                .counter {
                    width: 20px;
                    height: 25px;
                    margin-left: 65% !important;
                    margin-top: -20px;
                    padding-top: 1px !important;
                }
            }
        }

    }
}